@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CarRentalWebsite.Entities.Call

@{
    ViewData["Title"] = "New call";
    var daily = "@daily";
}

@section Styles {
    <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>

    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: Karla, sans-serif;
        }
    </style>
}
<h1>
    Daily.Co Video Call
</h1>

<div class="row" style="margin-bottom:20px;">
    <button class="btn btn-primary" style="float:left;margin-right:20px;" onclick="mtgJoin()">Join meeting</button>
    <button class="btn btn-danger" style="float:left;" onclick="mtgLeave()">Leave meeting</button>
</div>

<div class="row">
    <div id="mtg-frame" height="400" style="height:400px;border:0;background-color:lightgrey;"></div>
</div>

<script>
    function mtgJoin() {
        let callUrl = 'https://huddleafrica.daily.co/hello';
        if (!window.frame) {
            window.inp = document.getElementById('mtg-link');
            window.frame = window.DailyIframe.createFrame(
                document.getElementById('mtg-frame')
            );
        }
        window.frame.join({ url: callUrl });
    }

    function mtgLeave() {
        window.frame.leave();
    }
</script>


@* @section Styles {
    <script crossorigin src="https://unpkg.com/daily-co/daily-js"></script>

    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: Karla, sans-serif;
        }
    </style>
}

 <h1 class="text-center">
    New Video Call
</h1>

<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-2">
            <button id="btnJoin" class="btn btn-primary" onclick="mtgJoin()">Join meeting</button>
    </div>
    <div class="col-sm-2">
            <button id="btnLeave" class="btn btn-danger" onclick="mtgLeave()">Leave meeting</button>
    </div>
</div>

<div class="row">
    <div id="mtg-frame" height="400" style="height:400px;border:0;background-color:lightgrey;"></div>
</div>

    <script>     
        function mtgJoin() {
            let callUrl = 'https://huddleafrica.daily.co/hello';
            if (!window.frame) {
                window.inp = document.getElementById('mtg-link');
                window.frame = window.DailyIframe.createFrame(
                    document.getElementById('mtg-frame')
                );
            }
            window.frame.join({ url: callUrl });
        }

        function mtgLeave() {
            window.frame.leave();
        }
    </script>  *@




@*      commented out the above code because it was not working. I will try to fix it later. 
 *@@* <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" value="@UserManager.GetUserName(User)" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kit_Number" class="control-label"></label>
                <select asp-for="Kit_Number" class="form-control" asp-items="ViewBag.KitsByUser"></select> 
                <span asp-validation-for="Kit_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_Number" class="control-label"></label>
                <input asp-for="Phone_Number" class="form-control" />
                <span asp-validation-for="Phone_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_And_Time" class="control-label"></label>
                <input asp-for="Date_And_Time" class="form-control" />
                <span asp-validation-for="Date_And_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Call_Duration" class="control-label"></label>
                <input asp-for="Call_Duration" class="form-control" />
                <span asp-validation-for="Call_Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div> *@
