@model CarRentalWebsite.Models.GenerateQRCodeModel

@{
    ViewData["Title"] = "GenerateQRCode";
}

<h3>Press 'Generate QR Code'' button to generate QR code & activate automatically the car</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateQRCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QRCode" class="control-label"></label>
                <select asp-for="QRCode" class="form-control" asp-items="ViewBag.Vehicles"></select>   
                <span asp-validation-for="QRCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate QR Code" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}