
@{
    ViewData["Title"] = "GenerateOTP";
}

<h3>GenerateOTP</h3>

<form method="post" asp-action="SendOTP" asp-controller="Home">
    <input type="submit" value="GetOtp" />

    <div>Your generated OTP password is:</div>
    <div>
        @TempData["otp"]
    </div>
    
</form>

<form method="post" asp-action="GenerateOTP" asp-controller="Home">

    <div> Type your Generated OTP password</div>
    <input type="text" />

    <input type="submit" value="ValidateOtp" />

    @*@if (@TempData["otp"] == )
    {
        TempData["result"] = "Token is Valid";
    }
    else
    {
        TempData["result"] = "Token is Valid";
    }*@
    <input type="text" contenteditable="false" value="@TempData["result"]" ) />
</form>

