@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <p><img src="~/Images/depositphotos_268023196-stock-illustration-vector-logo-for-car-rental.webp" width="1000" height="800" /></p>
</div>